**/__pycache__
*/__pycache__
.python-version
*.pyc
*__pycache__*
.env
*.pyc
*.pyo
media/
data.json
upload_data_from_file.log
.idea/
node_modules/
frontend/node_modules/
../static/frontend/main.js/main.js
static/frontend/main.js/main.js


#mailing/migrations
#users/migrations
#map/migrations


#cert/migrations
#contests/migrations
#**/migrations/*
#**/migrations/**
#!**/migrations
#!**/migrations/__init__.py
#**/**/migrations

