{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}


{% block content %}
	<div class="container mt-4 mb-3 card col-6">
		<h2 class=" ml-2 mt-3 mb-3">Забыли свой пароль?</h2>
		<h6 class="ml-2 mt-3 mb-3">На Ваш электронный адрес будет выслана инструкция</h6>
		<form method="post">
			{% csrf_token %}
		{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
				{{ form.non_field_errors }}
			</div>
		{% endif %}
			 {% for field in form %}
        <div class=" ml-2 mt-3 col-4 mb-3">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
			<div class="row">

				<div class="text-right mr-3">
					<button class="btn btn-outline-primary mb-3 " type="submit">Отправить мне инструкцию
					</button>
				</div>

			</div>
		</form>
	</div>
{% endblock %}