{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

	{% if validlink %}
		<div class="container mt-4 mb-3 card col-6">
			<h2 class=" ml-2 mt-3 mb-3">Задать новый пароль</h2>
			<form method="post">
				{% csrf_token %}
				{% if form.non_field_errors %}
					<div class="alert alert-danger" role="alert">
						{{ form.non_field_errors }}
					</div>
				{% endif %}
				{% for field in form %}
					<div class=" ml-2 mt-3 col-4 mb-3">
						{{ field.errors }}
						{{ field.label_tag }} {{ field }}
					</div>
				{% endfor %}
				<div class="row">

					<div class="text-right mr-3">
						<button class="btn btn-outline-primary mb-3 " type="submit">
							Сменить пароль
						</button>
					</div>

				</div>
			</form>
		{% else %}

		<p>The password reset link was invalid, possibly because it has already
			been used. Please request a new password reset.</p>

	{% endif %}
		</div>

{% endblock %}